div{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("muhammad-kamran-khan-RsCvxI9h2Ew-unsplash.jpg");
    background-size: cover;
}
div{
    color: white;
}